.logo {
    display: none;
}

.signup-button {
    position: static;
}

.account-form {
    justify-content: center;
}

.form div {
    display: flex;
    flex-direction: column;
}

.account-container {
    height: auto;
}

.cards-container {
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    justify-content: center;
}

.desktop-menu {
    width: 140px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:first-child,
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    font-size: var(--md);
}


.my-order {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    left: -52px;
}

.cart-item p:nth-child(3) {
    position: relative;
    right: -120px;
}

.cart-item figure img {
    display: none;
}

.order-info {
    background-color: transparent;
    padding: 0;
    display: relative;
    margin-bottom: 0;
}

.cart-item span {
    position: relative;
    background-image: url('../icons/flechita.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    left: 84px;
}

.menu {
    display: none;
}

.navbar-left ul {
    position: static;
    display: flex;
    flex-direction: row;
    transform: translateX(0);
}

.navbar-email {
    display: flex;
}

.navbar-left > ul {
    margin-left: 12px;
}


.navbar-left ul li a,
.navbar-right ul li a {
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
}

.navbar-right {
    font-size: var(--sm);
}

.navbar-email {
    margin-right: 12px;
}